{{>header}}
<h1>{{ title }}</h1>

<form class="form-inline" action="#">
    <div class="form-group">
        <label for="Location">Location</label>
        <input type="text" class="form-control" id="email" placeholder="Location">
    </div>
    <button class="btn btn-default">Submit</button>
</form>
<hr />
<p id="message-1"></p>
<p id="message-2"></p>

<script src="/js/app.js"></script>
{{>footer}}